{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

<main class="row content__page">
	<section class="column large-full entry format-standard">
		<div class="media-wrap">
			<div>
				<img src="{% static 'images/thumbs/contact/contact-1000.jpg' %}" srcset="{% static 'images/thumbs/contact/contact-2000.jpg' %} 2000w, 
                              {% static 'images/thumbs/contact/contact-1000.jpg' %} 1000w, 
                              {% static 'images/thumbs/contact/contact-500.jpg' %} 500w"
					sizes="(max-width: 2000px) 100vw, 2000px" alt="" />
			</div>
		</div>

		<div class="content__page-header">
			<h1 class="display-1">Get In Touch.</h1>
		</div>
		<!-- end content__page-header -->

		<p class="lead drop-cap">
			We love hearing from our readers! Whether you have a question, a suggestion, or simply want to say hello, we're here to listen. Feel free to reach out to us using the contact information provided below.
		</p>

		<p>
			We value your feedback and insights. If you have comments or suggestions specifically about a blog post, we encourage you to leave a comment directly on the respective article. This way, other readers can benefit from the discussion and contribute their thoughts as well.
		</p>

		<p>
			At Blog Coder, we take your privacy seriously.
			Thank you for your interest in Blog Coder. We look forward to hearing from you and continuing this coding journey together!
		</p>

		<div class="row">
			<div class="column large-six tab-full">
				<h4>Where to Find Us</h4>

				<p>
					Bundelkhand Institute of engineering and Technology<br />
					Jhansi,<br />
					284128, UP
				</p>
			</div>
		</div>

		<h3 class="h1">Say Hello</h3>


		{% comment %}! <!-- Different methods of accessing Fields of Forms, All works the sam eat end of day --> {% endcomment %}

		<!-- <form
			name="contactForm"
			id="contactForm"
			method="POST"
			action=""
			autocomplete="off">
			{% csrf_token %}
			<fieldset>
				{% comment %}! This is simplest wasy of accessing all fields of form {% endcomment %}

				{{form}}

				<input
					name="submit"
					id="submit"
					class="btn btn--primary btn-wide btn--large full-width"
					value="Send Message"
					type="submit"
				/>
			</fieldset>
		</form> -->

		<!-- <form
			name="contactForm"
			id="contactForm"
			method="POST"
			action=""
			autocomplete="off">
			{% csrf_token %}
			<fieldset>
				{% comment %}! In this method each field is accessed individually and therse error have also beenn accessed individually  {% endcomment %}

				{{form.name}}
				{{form.errors.name}}
				
				{{form.email}}
				{{form.errors.email}}

				{{form.phone}}
				{{form.errors.phone}}

				{{form.website}}
				{{form.errors.website}}

				{{form.message}}
				{{form.errors.message}}


				<input
					name="submit"
					id="submit"
					class="btn btn--primary btn-wide btn--large full-width"
					value="Send Message"
					type="submit"
				/>
			</fieldset>
		</form> -->

		<!-- <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
			{% csrf_token %}
			<fieldset>

				{% comment %}! Extension of previous, can be used to give different classes to different fields of form {% endcomment %}

				<div class="form-field">
					{{form.name}}
					{{form.errors.name}}
				</div>

				<div class="form-field">
					{{form.email}}
					{{form.errors.email}}
				</div>

				<div class="form-field">
					{{form.phone}}
					{{form.errors.phone}}
				</div>

				<div class="form-field">
					{{form.website}}
					{{form.errors.website}}
				</div>

				<div class="message form-field">
					{{form.message}}
					{{form.errors.message}}
				</div>

				<input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Send Message" type="submit">

			</fieldset>
		</form>  -->

		<form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
			{% csrf_token %}
			<fieldset>

				{% comment %}! Best method in my opinion, just loops through every field along with errors, if any {% endcomment %}

				{% for field in form %}
				<div class="form-field">
					{{field.label}} :
					{{field}}
					<small>{{field.errors}}</small>
				</div>
				{% endfor %}

				<input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Send Message" type="submit">

			</fieldset>
		</form> <!-- end form -->
	</section>
</main>

{% endblock middle_section %}