[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"
django-phone-field = "*"
phonenumbers = "*"
pillow = "*"
django-autoslug = "*"
django-ckeditor = "*"
python-decouple = "*"
gunicorn = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
