{% load static %}
{% comment %} ! this is level 0 comment template {% endcomment %}
{% comment %} <ul class="children"> {% endcomment %}
<li class="comment">
    <div class="comment__avatar">
        <img class="avatar" src="{% if comment.user.profile.image %}{{comment.user.profile.image.url}}{% else %}{% static 'default.png' %}{% endif %}" alt="" width="50" height="50"
            style="margin-top:0;">
    </div>

    <div class="comment__content">

        <div class="comment__info">
            <div class="comment__author" style="line-height: 1.2em;">{{comment.user.first_name|title}}
                {{comment.user.last_name|title}}<br>
                <p style="font-size: 0.7em; margin-bottom:0; color:#7e7e7e">@{{comment.user.username}}</p>
            </div>

            <div class="comment__meta">
                <div class="comment__time">{{comment.date_posted|date:"F j, Y"}}</div>
                {% if comment.user == request.user or comment.post.author == request.user %}
                    <div class="comment__reply" title="Delete comment">
                        <a class="comment-reply-link" href="{% url 'delete_comment' slug=comment.post.slug id=comment.id %}" style="color: #c72115;">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="comment__text">
            <p style="margin-bottom:16px">
                {{comment.content}}
            </p>
        </div>
        {% comment %}! I know below code is shit but it is what it is {% endcomment %}
        {% comment %} ! passing argument with include tag {% endcomment %}

        {% include "blog/comment/style.html" with id=comment.id %}
        {% include "blog/comment/reply_form.html" with id=comment.id %}

    </div>
    {% comment %} ! ISke neeche aega reply {% endcomment %}
    {% comment %} ! recursively comments ko call krne ka jugaad bna le bhai {% endcomment %}
    {% comment %} {% if comment.replies.all.exist %} {% endcomment %}
        {% comment %} <h1>{{comment.replies.all}}</h1> {% endcomment %}
        {% include "blog/comment/reply.html" with parent=comment %}
    {% comment %} {% endif %} {% endcomment %}
</li> <!-- end comment level 1 -->
{% comment %} </ul> {% endcomment %}
