{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

<main class="content__page">
	<section class="column large-full entry format-standard">
		<h3 class="h2" style="margin-top:0;">Create New Blog Post</h3>
		<form action="{% url 'create_post' %}" method="POST" enctype = "multipart/form-data">
			{% csrf_token %}
			<fieldset>
				{% comment %} {% for field in form %}
					<div class="form-field">
						<strong>{{field.label}} :</strong>
						{{field}}
						{{field.errors}}
					</div>
				{% endfor %}
                {{form.media}}
				<input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width"
					value="Create Post" type="submit" > {% endcomment %}

					<div class="form-field">
						<strong>{{form.title.label}} :</strong>
								{{form.title}}
								{{form.title.errors}}
					</div>
					<div class="form-field">
						<strong>{{form.description.label}} {% if form.description.field.attrs.required %}kuch to{% endif %} :</strong>
								{{form.description}}
								{{form.description.errors}}
					</div>
					<div class="form-field">
						<strong>{{form.image.label}} :</strong>
								{{form.image}}
								{{form.image.errors}}
					</div>
					<div class="form-field">
						<strong>{{form.category.label}} :</strong>
						<p>(Hold Ctrl to select multiple, only 3 Categories are allowed and rest will be ignored.)</p>
								{{form.category}}
								{{form.category.errors}}
					</div>
					<div class="form-field">
						<strong>{{form.content.label}} :</strong>
								{{form.content}}
								{{form.content.errors}}
					</div>
					<div class="form-field">
						{{form.media}}
					</div>
					<input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width"
					value="Create Post" type="submit" >

			</fieldset>
		</form> <!-- end form -->
	</section>
</main>

{% endblock middle_section %}