{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

{% if s %}
{% comment %} ! If searched {% endcomment %}

<div class="container">
	{% comment %} <h1>Search result for "{{s}}":</h1> {% endcomment %}
	{% if posts.count%}
	<h3 style="margin-top:0;margin-bottom:5rem" class="adjustments">Search results for
		"<strong>{{s|truncatechars:20}}</strong>" ({{posts.count}}) :</h3>
	{% else %}
	<h3 style="margin-top:0;margin-bottom:5rem" class="adjustments">No search found results for
		"<strong>{{s|truncatechars:20}}</strong>".</h3>
	<p class="adjustments">
	<h4 class="adjustments">Some suggestions to help you:</h4>
	<ul class="adjustments">
		<li>Make sure that all words are spelled correctly.</li>
		<li>Try different keywords.</li>
		<li>Try more general keywords.</li>
		<li>Try fewer keywords.</li>
	</ul>
	</p>
	{% endif %}
</div>

{% endif %}

{% comment %} ! to handle whether page paginated or is a search result {% endcomment %}

{% if posts.paginator.count or posts.count %}

{% include "blog/article.html" with posts=posts %}

{% if posts.paginator.count %}

	<div class="row">
		<div class="column large-full">
			<nav class="pgn">
				<ul>
					{% if posts.has_previous %}
					<li><a class="pgn__prev" href="?page={{posts.previous_page_number}}" title="Previous page">Prev</a></li>
					{% endif %}
					{% if posts.number|add:'-4' > 0 %}
						<li><span><a class="pgn__num dots" href="?page=1">First</a></span></li>
						<li><span class="pgn__num dots">…</span></li>
					{% endif %}
					{% for num in posts.paginator.page_range %}
						{% if posts.number == num %}
							<li><span class="pgn__num current">{{num}}</span></li>
						{% elif num > posts.number|add:'-4' and num < posts.number|add:'4' %}
							<li><a href="?page={{num}}" class="pgn__num">{{num}}</a></li>
						{% endif %}
					{% endfor %}
					{% if posts.number|add:'4' <= posts.paginator.num_pages %}
						<li><span class="pgn__num dots">…</span></li>
						<li><span><a class="pgn__num dots" href="?page={{posts.paginator.num_pages}}">Last</a></span></li>
					{% endif %}
					{% if posts.has_next %}
						<li><a class="pgn__next" href="?page={{posts.next_page_number}}" title="Next page">Next</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>

{% endif %}

{% endif %}

{% endblock middle_section %}