{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

<main class="content__page">
	<section class="column large-full entry format-standard">
		<h3 class="h2" style="margin-top:0;">Update the Post</h3>
		<form action="{% url 'update_post' slug %}" method="POST" enctype = "multipart/form-data">
			{% csrf_token %}
			<fieldset>
				{% for field in form %}
					<div class="form-field">
						<strong>{{field.label}} :</strong>
						{{field}}
						{{field.errors}}
					</div>
				{% endfor %}
                {{form.media}}
				<input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width"
					value="Update Post" type="submit" >

			</fieldset>
		</form> <!-- end form -->
	</section>
</main>

{% endblock middle_section %}