{% load static %}
<header class="s-header">
	<div class="header__top">
		<div class="header__logo">
			<a class="site-logo" href="{% url 'home' %}">
				<h1 style="color: white; margin: 0">Blog Website</h1>
			</a>
		</div>
		<div class="header__search">
			<form role="search" method="get" class="header__search-form" action="/search/">
				<label>
					<span class="hide-content">Search for:</span>
				</label>
				<input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="query"
					title="Search for:" id="search" autocomplete="off" required />
				<input type="submit" class="header__search-submit" value="Search" />
			</form>

			<a href="#0" title="Close Search" class="header__search-close" onclick="closeSearch1()"
				style="margin-top:10rem;">Close</a>

			<script>
				function closeSearch1() {
					var siteBody = $('body');
					var searchWrap = $('.header__search');

					if (siteBody.hasClass('search-is-visible')) {
						siteBody.removeClass('search-is-visible');
						setTimeout(function () {
							searchWrap.find('.search-field').blur();
						}, 100);
					}
				}
			</script>
		</div>
		<!-- end header__search -->

		<!-- toggles -->
		<a href="#0" class="header__search-trigger"></a>
		<a href="#0" class="header__menu-toggle"><span>Menu</span></a>
	</div>
	<!-- end header__top -->

	<nav class="header__nav-wrap">
		{% url 'blog_home' as blog_home %}
		{% url 'contact' as contact %}
		{% url 'about' as about %}
		{% url 'home' as home %}
		{% url 'signin' as signin %}
		{% url 'signup' as signup %}
		{% url 'profile' username=request.user.username as profile %}
		{% url 'create_post' as create_post %}
		{% url 'category' as category %}

		<ul class="header__nav">
			<li class="{% if request.path == home %}current{% endif %}">
				<a href="{% url 'home' %}" title="">Home</a>
			</li>
			{% if request.user.is_authenticated %}
			<li class="has-children {% if request.path == profile %}current{% endif %}">
				<a href="{% url 'profile' request.user.username %}" title="" class="">Hello,
					{{request.user.first_name|title}}</a>
				<ul class="sub-menu">
					<li><a href="{% url 'profile' request.user.username %}" class="">My Account</a></li>
					<li><a href="{% url 'signout' %}">Signout</a></li>
				</ul>
			</li>
			<li>
				<a href="{% url 'create_post' %}" title=""
					class="{% if request.path == create_post %}current{% endif %}">Create Post</a>
			</li>
			{% else %}
			<li class="{% if request.path == signin %}current{% endif %}">
				<a href="{% url 'signin' %}" title="">Signin</a>
			</li>
			<li class="{% if request.path == signup %}current{% endif %}">
				<a href="{% url 'signup' %}" title="">Signup</a>
			</li>
			{% endif %}
			<li class="{% if request.path == category %}current{% endif %}">
				<a href="{% url 'category' %}" title="">Categories</a>
			</li>
			<li class="{% if request.path == blog_home %}current{% endif %}">
				<a href="{% url 'blog_home' %}" title="">All Blog Posts</a>
			</li>
			<li class="{% if request.path == about %}current{% endif %}">
				<a href="{% url 'about' %}" title="">About</a>
			</li>
			<li class="{% if request.path == contact %}current{% endif %}">
				<a href="{% url 'contact' %}" title="">Contact</a>
			</li>
		</ul>
		<!-- end header__nav -->

		<ul class="header__social">
			<li class="ss-github" style="color:white;">
				<a href="https://github.com/fadingreality1" title="Github" target="_blank">
					<span class="screen-reader-text">Github</span>
				</a>
			</li>
			<li class="ss-linkedin">
				<a href="https://www.linkedin.com/in/kunalvermait/" target="_blank">
					<span class="screen-reader-text">Linkedin</span>
				</a>
			</li>
			<li class="ss-email">
				<a href="mailto:kunalverma.learn@gmail.com.com" target="_blank">
					<span class="screen-reader-text">Mail</span>
				</a>
			</li>
			<li class="ss-instagram">
				<a href="https://www.instagram.com/_.kunal._.verma._/" target="_blank">
					<span class="screen-reader-text">Instagram</span>
				</a>
			</li>
		</ul>
	</nav>
	<!-- end header__nav-wrap -->
</header>
<!-- end s-header -->