{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

<main class="row content__page">
	<section class="column large-full entry format-standard">
		<h3 class="h2" style="margin-top:0;">Set New Password</h3>
		<form name="New_Password" id="forgot_password" method="post" action="" autocomplete="off">
			{% csrf_token %}
			<fieldset>
				{% comment %} ! crack head problem to show errors bitch {% endcomment %}
				{% for field in form %}
				<div class="form-field">
					<strong>{{field.label}} :</strong>
					{{field}}
					{{field.errors}}
				</div>
				{% endfor %}
				<input name="submit" id="submit" class="btn btn--primary" value="submit"
					type="submit">
			</fieldset>
		</form> <!-- end form -->
	</section>
</main>

{% endblock middle_section %}