{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

<main class="row content__page">
	<section class="column large-full entry format-standard">
		<h3 class="h2" style="margin-top:0;">Create Account</h3>
		<form name="contactForm" id="contactForm" method="post" action="" autocomplete="off" enctype = "multipart/form-data">
			{% csrf_token %}
			<fieldset>
				{% for field in form %}
				<div class="form-field">
					<strong>{{field.label}} :</strong>
					{{field}}
					{{field.errors}}
				</div>
				{% endfor %}

				{% comment %} ! Different methods to access form fields and slicing the form feilds {% endcomment %}

				{% comment %} <div class="row block-large-1-2 block-tab-full">
					<div class="column">
						<fieldset>
							<div class="form-field">
								<strong>{{form.username.label}} :</strong>
								{{form.username}}
								{{form.username.errors}}
							</div>
						</fieldset>
						<fieldset>
							<div class="form-field">
								<strong>{{form.first_name.label}} :</strong>
								{{form.first_name}}
								{{form.first_name.errors}}
							</div>
						</fieldset>
						<fieldset>
							<div class="form-field">
								<strong>{{form.last_name.label}} :</strong>
								{{form.last_name}}
								{{form.last_name.errors}}
							</div>
						</fieldset>
					</div>
					<div class="column">
						<fieldset>
							<div class="form-field">
								<strong>{{form.email.label}} :</strong>
								{{form.email}}
								{{form.email.errors}}
							</div>
						</fieldset>
						<fieldset>
							<div class="form-field">
								<strong>{{form.password1.label}} :</strong>
								{{form.password1}}
								{{form.password1.errors}}
							</div>
						</fieldset>
						<fieldset>
							<div class="form-field">
								<strong>{{form.password2.label}} :</strong>
								{{form.password2}}
								{{form.password2.errors}}
							</div>
						</fieldset>
					</div>
				</div> {% endcomment %}

				{% comment %} <div class="row block-large-1-2 block-tab-full">
					<div class="column">
						{% for field in form.visible_fields|slice:":3" %}
						<fieldset>
							<div class="form-field">
								<strong>{{field.label}} :</strong>
								{{field}}
								{{field.errors}}
							</div>
						</fieldset>
						{% endfor %}
					</div>
					<div class="column">
						{% for field in form.visible_fields|slice:"3:" %}
						<fieldset>
							<div class="form-field">
								<strong>{{field.label}} :</strong>
								{{field}}
								{{field.errors}}
							</div>
						</fieldset>
						{% endfor %}
					</div>
				</div> {% endcomment %}

				{% comment %} <div class="row block-large-1-2 block-tab-full">
					{% for field in form %}
					<div class="column">
						<div class="form-field">
							<strong>{{field.label}} :</strong>
							{{field}}
							{{field.errors}}
						</div>
					</div>
					{% endfor %}
				</div> {% endcomment %}

				<input name="submit" id="submit" class="btn btn--primary" value="Create Account" type="submit">
			</fieldset>
			Already have an account? <a href="{% url 'signin' %}" class="">Sign in</a>.
		</form> <!-- end form -->
	</section>
</main>

{% endblock middle_section %}