{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

<main class="row content__page">
	<section class="column large-full entry format-standard">
		<h3 class="h2" style="margin-top:0;">Update Profile.</h3>
		<form name="contactForm" id="contactForm" method="post" action="" autocomplete="off" enctype = "multipart/form-data">
			{% csrf_token %}
			<fieldset>
				{% for field in uform %}
				<div class="form-field">
					<strong>{{field.label}} :</strong>
					{{field}}
					{{field.errors}}
				</div>
				{% endfor %}
				{% for field in pform %}
				<div class="form-field">
					<strong>{{field.label}} :</strong>
					{{field}}
					{{field.errors}}
				</div>
				{% endfor %}
				<input name="submit" id="submit" class="btn btn-wide btn--large full-width btn--primary" value="Update" type="submit">
			</fieldset>
		</form> <!-- end form -->
	</section>
</main>

{% endblock middle_section %}